<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        title="Home">
        <mat-icon>assessment</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a mat-icon-button [routerLink]="'/login'" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon" title="Login">
        <mat-icon>login</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="'/signup'" class="example-icon" aria-label="Example icon-button with share icon"
        title="Signup">
        <mat-icon>app_registration</mat-icon>
    </a>
</mat-toolbar>