.profile-pic{
    max-width: 128px;
    max-height: 128px;
    border: 1px dashed darkcyan;
    border-radius: 50%;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr td {
    padding: 10px 10px;
    border: 0.5px solid #e2e2e2;
}