<mat-card>
    <mat-card-title>Quizzes</mat-card-title>
</mat-card>
<mat-card>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form (ngSubmit)="formAddSubmit()">
                    <!-- quiz title -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Enter Title</mat-label>
                        <input type="text" [(ngModel)]="quizData.title" name="title" required
                            placeholder="Enter quiz title" matInput />
                    </mat-form-field>

                    <!-- quiz description -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Enter Description</mat-label>
                        <textarea name="title" [(ngModel)]="quizData.description" placeholder="Enter quiz description"
                            matInput></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- max marks -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter Maximum Score</mat-label>
                                <input type="number" [(ngModel)]="quizData.maxMarks" required name="title"
                                    placeholder="Enter maximum marks for quiz" matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- max questions -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter Number of Questions</mat-label>
                                <input type="number" [(ngModel)]="quizData.numberOfQuestions" required name="title"
                                    placeholder="Enter total number of questions in quiz" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- whether quiz is active or not -->
                                <mat-slide-toggle class="m20" name="active" [color]="color"
                                    [(ngModel)]="quizData.active">
                                    Active on Portal
                                </mat-slide-toggle>
                            </div>
                            <div class="col-md-4">
                                <!-- Parent Category of quiz -->
                                <mat-form-field [color]="color" appearance="outline" class="m10">
                                    <mat-label>Parent category of quiz</mat-label>
                                    <mat-select name="category" [(ngModel)]="quizData.category.cId" required>
                                        <mat-option *ngFor="let c of categories" [value]="c.cId">
                                            {{c.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <!-- Add quiz button -->
                                <button class="mt20" mat-raised-button color="accent" type="submit">Add
                                    Quiz</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>

{{quizData|json}}