<mat-card>
    <mat-card-title>
        Questions of {{quizTitle}}
        <button mat-button color="accent" [routerLink]='"/admin-dashboard/add-question/"+quizId+"/"+quizTitle'>Add
            Question</button>
    </mat-card-title>
</mat-card>
<mat-card *ngFor="let q of questions; let i = index">
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-12">
                <mat-card-content>
                    <p><b>Q{{i+1}}) </b><span [innerHTML]="q.content"></span></p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1) {{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>2) {{q.option2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>3) {{q.option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>4) {{q.option4}}</p>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-footer>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Correct Answer: </b>{{q.answer}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-footer>
            </div>
        </div>
    </div>
</mat-card>