<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row text-center m20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container mt10">
                        <img mat-card-image src="../../../assets/loginlogo.png" alt="" class="logo-icon">
                    </div>
                    <h1 class="text-center">Welcome Back! Ready to resume?</h1>
                    <!--{{loginDetails | json}}-->
                    <form (ngSubmit)="formLogin()" ngNativeValidate>
                        <!-- Username field -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required name="username" [(ngModel)]="loginDetails.username" matInput
                                placeholder="Enter Username">
                            <mat-hint>Your Exam Portal username</mat-hint>
                        </mat-form-field>
                        <!-- Password field -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" required [(ngModel)]="loginDetails.password" name="password" matInput
                                placeholder=" Enter Password">
                            <mat-hint>Your Exam Portal password</mat-hint>
                        </mat-form-field>
                        <div class="container text-center mt10">
                            <button type="submit" mat-raised-button color="accent">Login</button>
                            <button type="reset" mat-raised-button color="primary" class="m10">Clear
                                details</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>