<div class="bootstrap-wrapper" *ngIf="!done">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- timer -->
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Time Left - {{getFormattedTime()}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            Quiz will be auto submitted once time runs out
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-spinner style="margin: auto" [color]="timerColor" mode=determinate
                            [value]="(timer/(questions[0].quiz.totalTime * 60))*100">
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
                <!-- info panel -->
                <mat-card class="mt10 mb10">
                    <mat-card-header>
                        <mat-card-title>
                            Instructions
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li>Please do not open a new tab</li>
                            <li>Please do not refresh the page</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-9">
                <!-- quiz questions -->
                <mat-card *ngIf="questions">
                    <h2>Attempting quiz - {{questions[0].quiz.title}}</h2>
                </mat-card>
                <mat-card *ngFor="let q of questions; let i = index" class="mt10">
                    <mat-card-content>
                        <p><b>Q{{i+1}})&nbsp;&nbsp;</b><span [innerHTML]="q.content"></span></p>
                        <mat-divider></mat-divider>
                        <mat-radio-group aria-label="Select an option">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 mt10"
                                        *ngIf="(q.option1.trim())==''||(q.option1)==null?false:true">
                                        <mat-radio-button name="option1" ngDefaultControl [(ngModel)]="q.answer"
                                            [value]="q.option1">
                                            {{q.option1}}</mat-radio-button>
                                    </div>
                                    <div class="col-md-6 mt10"
                                        *ngIf="(q.option2.trim())==''||(q.option2)==null?false:true">
                                        <mat-radio-button name="option2" ngDefaultControl [(ngModel)]="q.answer"
                                            [value]="q.option2">
                                            {{q.option2}}</mat-radio-button>
                                    </div>
                                    <div class="col-md-6 mt10"
                                        *ngIf="(q.option3.trim())==''||(q.option3)==null?false:true">
                                        <mat-radio-button name="option3" ngDefaultControl [(ngModel)]="q.answer"
                                            [value]="q.option3">
                                            {{q.option3}}</mat-radio-button>
                                    </div>
                                    <div class="col-md-6 mt10"
                                        *ngIf="(q.option4.trim())==''||(q.option4)==null?false:true">
                                        <mat-radio-button name="option4" ngDefaultControl [(ngModel)]="q.answer"
                                            [value]="q.option4">
                                            {{q.option4}}</mat-radio-button>
                                    </div>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20">
                    <button mat-raised-button color="accent" (click)="submitQuiz()">Submit
                        Quiz</button>
                </div>
            </div>
            <!-- <div class="col-md-3 mt20">

            </div> -->
        </div>
    </div>
</div>
<!-- Show result -->
<div class="bootstrap-wrapper" *ngIf="done">
    <div class="row">
        <div class="col-md-6 offset-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Result for {{questions[0].quiz.title}} quiz
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container mt10">
                        <h3>Score : <b>{{score}}</b> out of <b>{{total}}</b>, (<b>{{percent}}%)</b></h3>
                        <h3>Questions attempted : <b>{{attempts}}</b></h3>
                        <h3>Questions answers correctly : <b>{{correctAnswers}}</b></h3>
                    </div>
                </mat-card-content>
                <div class=" container text-center">
                    <button mat-raised-button color="primary" (click)="printPage()">Save</button>
                    <button mat-raised-button class="m10" color="accent" routerLink="/user-dashboard/">Home</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>