<mat-card>
    <h2>Edit Category</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formEditSubmit()" ngNativeValidate>
                        <!-- category title -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required type="text" [(ngModel)]="editedCategory.title" name="title" matInput
                                placeholder="Edit category title">
                        </mat-form-field>
                        <!-- category description -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea required name="description" [(ngModel)]="editedCategory.description" matInput
                                placeholder="Edit category description"></textarea>
                        </mat-form-field>

                        <div class="container text-center mt20">
                            <button mat-raised-button color="accent" type="submit">Edit Category</button>
                            <button mat-raised-button color="primary" class="m10"
                                routerLink="/admin-dashboard/categories">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>