<mat-card>
    <h2>All Categories</h2>
</mat-card>

<mat-card *ngFor="let c of categories">
    <p style="display: inline-flex;font-size: 17px;">
        <mat-icon mat-list-icon>topic</mat-icon>&nbsp;{{ c.title }}
    </p>
    <div mat-line>{{ c.description }}</div>
    <button mat-stroked-button color="accent" [routerLink]='"/admin-dashboard/edit-category/"+c.cId'>Update</button>
    <button mat-stroked-button class="m10" color="warn" (click)="onDelete(c)">Delete</button>
</mat-card>

<mat-card>
    <div class="container text-center">
        <button mat-raised-button color="accent" routerLink="/admin-dashboard/add-category">Add new category</button>
    </div>
</mat-card>